langchain
langchain-openai
langchain-google-genai
langchain-anthropic
langchain-groq
langchain-ollama	
dotenv
streamlit
langchain-community
langgraph
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
langchain-chroma
pyowm